source:
  repoUrl: https://github.com/fabsys/k3s-lxc_proxmox.git
  revision: main

apps:
# System Apps
  - appName: metallb
    path: cluster/apps/system/metallb
    namespace: metallb-system
  - appName: ingress-nginx-private
    path: cluster/apps/system/ingress-nginx-private
    namespace: ingress-nginx-private
  - appName: ingress-nginx-public
    path: cluster/apps/system/ingress-nginx-public
    namespace: ingress-nginx-public
  - appName: sealed-secrets-controller
    path: cluster/apps/system/sealed-secrets
    namespace: kube-system
  - appName: velero
    path: cluster/apps/system/velero
    namespace: velero
  - appName: external-dns
    path: cluster/apps/system/external-dns
    namespace: external-dns
  - appName: cert-manager
    path: cluster/apps/system/cert-manager
    namespace: cert-manager
  - appName: kured
    path: cluster/apps/system/kured
    namespace: kured

#Plateform
  - appName: renovate
    path: cluster/apps/renovate
    namespace: renovate

# Others    
  - appName: hajimari
    path: cluster/apps/hajimari
    namespace: hajimari
  - appName: nginx-demo
    path: cluster/apps/nginx-demo
    namespace: nginx-demo
  - appName: nginx-demo-metallb
    path: cluster/apps/nginx-demo-metallb
    namespace: nginx-demo-metallb
  # - appName: kuard
  #   path: cluster/apps/system/kuard
  #   namespace: kuard
  # - appName: k8s-dashboard
  #   path: cluster/apps/k8s-dashboard
  #   namespace: k8s-dashboard
  - appName: no-as-a-service
    path: cluster/apps/no-as-a-service
    namespace: no-as-a-service
  - appName: plex
    path: cluster/apps/plex
    namespace: plex
  - appName: arr-stack
    path: cluster/apps/arr-stack
    namespace: arr-stack
  - appName: ddclient
    path: cluster/apps/ddclient
    namespace: ddclient
  - appName: system-upgrade-controller
    path: cluster/apps/system-upgrade-controller
    namespace: cattle-system
  - appName: gluetun
    path: cluster/apps/gluetun
    namespace: gluetun
  - appName: filebrowser
    path: cluster/apps/filebrowser
    namespace: filebrowser
  - appName: homepage
    path: cluster/apps/homepage
    namespace: homepage
  - appName: syncthing
    path: cluster/apps/syncthing
    namespace: syncthing