apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebrowser
  labels:
    app: filebrowser
spec:
  replicas: 1
  selector:
    matchLabels:
      app: filebrowser
  template:
    metadata:
      labels:
        app: filebrowser
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: filebrowser
          image: filebrowser/filebrowser:v2.27.0
          # --- CORRECTION ICI : On ne met que les options ---
          args:
            - "--noauth"
            - "--port=80"
            - "--root=/data"
            - "--database=/config/filebrowser.db" 
            - "--branding.name=Mon Serveur"
            - "--branding.disableExternal"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: data
              mountPath: /data
            - name: config
              mountPath: /config
      volumes:
        - name: data
          hostPath:
            path: /mnt/shared_data/movies
            type: Directory
        - name: config
          emptyDir: {} 

