apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: jellyfin
          image: docker.io/jellyfin/jellyfin:10.8.13
          ports:
            - containerPort: 8096
          volumeMounts:
            - name: config
              mountPath: /config
            - name: movies
              mountPath: /media/movies
            - name: shows
              mountPath: /media/shows
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-pvc
        - name: movies
          hostPath:
            path: /mnt/shared_data/movies/movies
            type: Directory
        - name: shows
          hostPath:
            path: /mnt/shared_data/movies/shows
            type: Directory



apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      securityContext:
        fsGroup: 1000
      
      # --- C'est ici que la magie opère ---
      initContainers:
        - name: configure-proxy
          image: busybox
          command: ["sh", "-c"]
          args:
            - |
              echo "Configuration du Proxy SOCKS5..."
              CONF_FILE="/config/qBittorrent/qBittorrent.conf"
              
              # 1. On s'assure que le dossier existe
              mkdir -p /config/qBittorrent
              
              # 2. Si le fichier n'existe pas encore, on le crée avec l'en-tête
              if [ ! -f "$CONF_FILE" ]; then
                echo "[Preferences]" > "$CONF_FILE"
              fi

              # 3. On supprime les anciennes lignes de proxy pour éviter les doublons
              sed -i '/Connection\\Proxy/d' "$CONF_FILE"
              
              # 4. On injecte la nouvelle configuration
              # Note : Type=2 correspond à SOCKS5 dans qBittorrent
              echo "Connection\Proxy\IP=vpn-service.gluetun" >> "$CONF_FILE"
              echo "Connection\Proxy\Port=1080" >> "$CONF_FILE"
              echo "Connection\Proxy\Type=2" >> "$CONF_FILE"
              echo "Connection\Proxy\LookupDNS=true" >> "$CONF_FILE"
              echo "Connection\Proxy\PeerOnly=false" >> "$CONF_FILE" 
              
              echo "Configuration Proxy terminée."
          volumeMounts:
            - name: config
              mountPath: /config

      containers:
        - name: qbittorrent
          image: lscr.io/linuxserver/qbittorrent:5.1.4-libtorrentv1
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Paris"
            - name: WEBUI_PORT
              value: "8080"
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /downloads
            - name: movies
              mountPath: /media/movies
            - name: shows
              mountPath: /media/shows
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: qbittorrent-pvc
        - name: downloads
          hostPath:
            path: /mnt/shared_data/movies/downloads
            type: Directory
        - name: movies
          hostPath:
            path: /mnt/shared_data/movies/movies
            type: Directory
        - name: shows
          hostPath:
            path: /mnt/shared_data/movies/shows
            type: Directory



---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
  template:
    metadata:
      labels:
        app: radarr
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: radarr
          image: lscr.io/linuxserver/radarr:5.3.6
          ports:
            - containerPort: 7878
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /downloads/complete
            - name: movies
              mountPath: /movies
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: radarr-pvc
        - name: downloads
          hostPath:
            path: /mnt/shared_data/movies/downloads
            type: Directory
        - name: movies
          hostPath:
            path: /mnt/shared_data/movies/movies
            type: Directory




---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:4.0.2
          ports:
            - containerPort: 8989
          volumeMounts:
            - name: config
              mountPath: /config
            - name: downloads
              mountPath: /downloads/complete
            - name: shows
              mountPath: /shows
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: sonarr-pvc
        - name: downloads
          hostPath:
            path: /mnt/shared_data/movies/downloads
            type: Directory
        - name: shows
          hostPath:
            path: /mnt/shared_data/movies/shows
            type: Directory



---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:1.13.3
          ports:
            - containerPort: 9696
          volumeMounts:
            - name: config
              mountPath: /config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: prowlarr-pvc

            
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyseerr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyseerr
  template:
    metadata:
      labels:
        app: jellyseerr
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: jellyseerr
          image: docker.io/fallenbagel/jellyseerr:1.7.0
          ports:
            - containerPort: 5055
          volumeMounts:
            - name: config
              mountPath: /app/config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyseerr-pvc

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: joal
  labels:
    app: joal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: joal
  template:
    metadata:
      labels:
        app: joal
    spec:
      initContainers:
        - name: init-joal-data
          image: alpine/git
          command: ["/bin/sh", "-c"]
          args:
            - |
              mkdir -p /data/torrents /data/clients && \
              cp /config/config.json /data/config.json && \
              echo "Copied config.json to /data"
              mkdir -p /data/torrents /data/clients && \
              git clone --depth 1 https://github.com/anthonyraymond/joal.git /tmp/joal && \
              cp -r /tmp/joal/resources/clients/* /data/clients/ && \
              echo "Copied all client files"
          volumeMounts:
            - name: joal-config
              mountPath: /config   # On monte le ConfigMap ici
            - name: joal-data
              mountPath: /data     # On monte le PV pour Joal
      containers:
        - name: joal
          image: anthonyraymond/joal:2.1.36
          args:
            - "--joal-conf=/data"
            - "--spring.main.web-environment=true"
            - "--server.port=$(PORT)"
            - "--joal.ui.path.prefix=$(SECRET_OBFUSCATION_PATH)"
            - "--joal.ui.secret-token=$(SECRET_TOKEN)"
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: SECRET_OBFUSCATION_PATH
              value: "joal"
            - name: SECRET_TOKEN
              value: "token"
          volumeMounts:
            - name: joal-data
              mountPath: /data
      volumes:
        - name: joal-config
          configMap:
            name: joal-config
        - name: joal-data
          persistentVolumeClaim:
            claimName: joal-config-pvc