---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: syncthing-ingress

spec:
  ingressClassName: nginx-private
  rules:
    - host: syncthing.services.k8s
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: syncthing-gui-svc
                port:
                  number: 8384
